/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0d0d0d;
  --bg-soft: #161616;
  --primary: #ffffff;
  --secondary: #b3b3b3;
  --accent: #4c583e;
  --border: #262626;
}

body {
  font-family: "Inter", Arial, sans-serif;
  background: var(--bg);
  color: var(--primary);
  line-height: 1.6;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 80px 0;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(17,20,14,0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary);
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 150vh;
  background: url('img/The-Smiths-header.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: var(--accent);
}

.hero p {
  color: var(--accent);
}
/* BOTÕES */
.btn,
button,
.musica button {
  display: inline-block;
  padding: 10px 25px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* HOVER */
.btn:hover,
button:hover,
.musica button:hover {
  transform: translateY(-2px);
  background: #13160f;
}

/* CLICK (sensação profissional) */
.btn:active,
button:active,
.musica button:active {
  transform: scale(0.97);
}

/* HISTÓRIA */
.historia-container {
  display: flex;
  gap: 40px;
  align-items: center;
}

.historia img {
  width: 45%;
  border-radius: 10px;
}

.historia .texto {
  width: 55%;
}

.historia p {
  color: var(--secondary);
}

/* INTEGRANTES */
.lista-integrantes {
  list-style: none;
}

.lista-integrantes li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border);
}


.lista-integrantes img {
  width: 140px;
  border-radius: 8px;
}

.lista-integrantes li p {
  font-size: 80%;
  font-weight: 65%;
}

/* ÁLBUNS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.card {
  background: var(--bg-soft);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid var(--border);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card:hover {
  transform: translateY(-6px);
  border-color: var(--accent);
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}
/* DESTAQUES */
.musicas {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.musica {
  background: var(--bg-soft);
  padding: 15px;
  border-radius: 10px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

/* CONTATO */
form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  background: var(--bg-soft);
  border: 1px solid var(--border);
  color: white;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: var(--accent);
  border: none;
  color: white;
  border-radius: 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #000;
  color: var(--secondary);
}

/* RESPONSIVO */
@media(max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    background: #111;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .historia-container {
    flex-direction: column;
  }

  .historia img,
  .historia .texto {
    width: 100%;
  }

  .lista-integrantes li {
    flex-direction: column;
    text-align: center;
  }

  .lista-integrantes img {
    width: 200px;
  }
}